.features-card:hover {
    box-shadow: 1px 10px 20px -1px rgba(173, 181, 183, 0.67);
    transition: .5s ease;
}

.love_us_card {
    box-shadow: 1px 10px 20px -1px rgba(173, 181, 183, 0.67);
    transition: .5s ease;
}
.home4-middle-subscription-card{
    box-shadow: 1px 10px 20px -1px rgba(173, 181, 183, 0.67);
    transition: .5s ease;
}


/* Carousel */

.mySlides {
    display: none
}
.mySlides2 {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    padding: 16px;
    margin-top: -22px;
    background-color: #FF6AC2;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -22px;
    border-radius: 50%;
}
.prev {
    left: -22px;
    border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
    background-color: red;
} */

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 4px;
    margin: 0 px;
    border-radius: 8px;
    display: inline-block;
}

#dot-home1 .dot {
    background-color: #C6ADF1;
    width: 9px;
    transition: background-color 0.6s ease;
    transition: width 0.6s ease;
}
#dot-home2 .dot {
    background-color: #E8DBFF;
    width: 9px;
    transition: background-color 0.6s ease;
    transition: width 0.6s ease;
}

#dot-home1 .active,
.dot-:hover {
    background-color: #6A26DA;
    width: 15px;
}

#dot-home2 .active,
.dot:hover {
    background-color: #FF6AC2;
    width: 15px;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* End Carousel */




.oval-header {
    position: relative;
    height: 1300px;
    width: 100%;
    overflow: hidden;
  }
  
  .oval-header--mask {
    width: 100%; /* Mask width 2x the size of the header */
    height: 600px; /* Mask height 2x the size of the header */
    /* border-radius:  0 0 50% 50%; */
    position: absolute;
    overflow: hidden;
    border-top: 0;
    background-size: cover;
    z-index: 1;
  }
  .testDiv{
    position: absolute;
    overflow: hidden;
    background: #2E2E52;
    left: -50%;
    top: 0;
    width: 200%;
    height: 900px;
    border-radius: 50%;
    z-index: 0;
  }
  .dash{
    position: absolute;
    z-index: 3;
    top: 48%;
    max-width: 946px;
  }
  .dash-con{
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 1024px) {
    .oval-header{
        height: 1000px;
    }
    .testDiv{
        height: 700px;
    }
    .dash{
        top: 35%;
    }
  }
  @media only screen and (max-width: 768px) {
    .oval-header{
        height: 670px;
    }
    .oval-header--mask{
        height: 300px;
    }
    .testDiv{
        height: 500px;
    }
    .dash{
        top: 55%;
    }
  }